body{
    background: linear-gradient(red, yellow, orange);
    font-family: 'Courgette', cursive;
}

.pizz{
    width: 200px;
    height: 200px;
    animation: pizzaFly 5s infinite ease-out ;
}



@keyframes pizzaFly {
    0%{
        transform: rotate(0deg)
      }
      25%{
        transform: rotate(30deg)
      }
      50%{
        transform: rotate(90deg)
      }
      75%{
        transform: rotate(120deg)
      }
      100%{
        transform: rotate(360deg)
      }
}